@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

$orange: #F5892D;
$black: #000;
$lightOrange: #FFC08B;
$white: #fff;
$lightBlue: #F2F6F8;
$mainFont: 'Roboto', sans-serif;

$row: 1440px;